<header>
  <section class="globeHeader">
   <object id="landingGlobe" data="{{ site.baseurl }}/assets/globe.svg" type="image/svg+xml"></object>
   <p>Industrial Workers of the World</p>
  </section>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- if page_paths -%}
  <nav class="siteNavigation">
    <div id="desktopNavigation">
      <a href="{{ site.baseurl }}/about" class="pageLink{% if page.url contains '/about/' %} current{% endif %}">About</a>
    </div>
  </nav>
  {%- endif -%}
</header>
